$breakpoints: (
  extra-small: 40rem, /* 640px */
  small: 50rem, /* 800px */
  medium: 60rem, /* 960px */
  large: 75rem, /* 1200px */
  extra-large: 90rem, /* 1440px */
);

@function breakpoint($key) {
  @return map-get($breakpoints, $key);
}

@mixin respond-to($breakpoint) {
  @media (min-width: breakpoint($breakpoint)) {
    @content;
  }
}
