@font-face {
  font-family: 'Heebo';
  src: url('../../assets/fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Heebo';
  src: url('../../assets/fonts/Heebo-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../assets/fonts/PlayfairDisplay-SemiBold.ttf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lovelo';
  src: url('../../assets/fonts/PlayfairDisplay-Bold.ttf') format('opentype');
  font-weight: 700;
}

:root {
  --font-family-heebo: 'Heebo', sans-serif;
  --font-family-playfair-display: 'Playfair Display', serif;

  --font-size-small: .75rem;
  --font-size-regular: .875rem;
  --font-size-large: 1rem;
  --font-size-x-large: 1.25rem;
  --font-size-xx-large: 1.625rem;
  --font-size-xxx-large: 2rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --leading-normal: 1.5;
  --leading-tight: 1.25;
  --leading-x-tight: 1.125;

  --tracking-normal: 0;
  --tracking-wide: .5px;
}
