*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
}

html {
  font: normal 16px sans-serif;
  line-height: var(--leading-normal);
}

body {
  background: var(--color-primary);
  color: var(--color-foreground);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-heebo);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-normal);
  justify-content: start;
  letter-spacing: var(--tracking-wide);
}

a {
  color: inherit;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle {
  font-family: var(--font-family-playfair-display);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
}
h1, h2, .title, .subtitle {
  font-weight: var(--font-weight-semibold);
}
h1, .title {
  font-size: var(--font-size-xxx-large);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-normal);
  line-height: var(--leading-x-tight);
}
h2, .subtitle {
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-weight-semibold);
}
h3 { font-size: var(--font-size-x-large); }
h4, h5, h6 { font-size: var(--font-size-large); }

strong, .strong {
  font-weight: var(--font-weight-semibold);
}
