@use '../base/colors' as *;

.color-subtle { color: color(foreground, subtle); }

.flex { display: flex; }
.flex-column { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }

.gap-05 { gap: .5rem; }
.gap-1 { gap: 1rem; }
.gap-125 { gap: 1.25rem; }
.gap-15 { gap: 1.5rem; }

.m-05 { margin: .5rem !important; }
.m-1 { margin: 1rem !important; }
.mb-05 { margin-bottom: .5rem !important; }
.mb-1 { margin-bottom: 1rem !important; }
.mt-05 { margin-top: .5rem !important; }
.mt-1 { margin-top: 1rem !important; }
.mx-05 { margin-left: .5rem !important; margin-right: .5rem !important; }
.mx-1 { margin-left: 1rem !important; margin-right: 1rem !important; }
.my-05 { margin-bottom: .5rem !important; margin-top: .5rem !important; }
.my-1 { margin-bottom: 1rem !important; margin-top: 1rem !important; }

.p-05 { padding: .5rem; }
.p-1 { padding: 1rem; }

.relative { position: relative !important; }

.w-full { width: 100% !important; }
