.card {
  background: var(--color-background);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: 1.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
