input[type='text'], input.text,
textarea, textarea.text {
  background: var(--color-background-dark);
  border: 0;
  border-radius: .375rem;
  font: inherit;
  padding: .5rem .75rem;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: .1875rem;
}
