@use '../base/breakpoints' as *;
@use '../base/colors' as *;

@mixin swatch($background, $background-value: $background) {
  @if (lightness($background-value) > 80) { border: 1px solid color(border); }
  background: $background-value;
  color: contrast($background-value);
  font-size: var(--font-size-small);
  position: relative;
  word-spacing: 100vw; /* add line break after every word */

  &,
  &::after {
    align-items: center;
    border-radius: .25rem;
    display: inline-grid;
    height: 5.25rem;
    justify-content: center;
    width: 5.25rem;
  }

  &.wide,
  &.wide::after {
    width: 8.25rem;
  }

  &::after {
    content: '#{$background} #{$background-value}';
    left: 0;
    overflow: visible;
    padding: 0 .75rem;
    position: absolute;
    text-align: left;
    width: 100%;
  }
}

@each $name, $color in colors(main) {
  .swatch.#{'' + $name} {
    @include swatch($name, $color);
  }
}

@each $name, $color in colors(cilantro) {
  .swatch.#{'cilantro-' + $name} {
    @include swatch($name, $color);
  }
}

@each $name, $color in colors(cocoa) {
  .swatch.#{'cocoa-' + $name} {
    @include swatch($name, $color);
  }
}

@each $name, $color in colors(lime) {
  .swatch.#{'lime-' + $name} {
    @include swatch($name, $color);
  }
}

.swatches {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

@include respond-to(small) {
  .swatch {
    &,
    &::after {
      height: 6rem;
      width: 6rem;
    }

    &.wide,
    &.wide::after {
      width: 9.375rem;
    }
  }
}
