.tile.logo {
  align-items: center;
  background: var(--color-background-dark);
  border-radius: .25rem;
  color: var(--color-foreground);
  display: flex;
  flex-direction: row;
  height: 6rem;
  justify-content: center;
  width: 6rem;

  .logo {
    display: block;
    height: 4rem;
    width: auto;
  }
}

.tiles.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .75rem;
}
