.tile.logo,
.tile.logomark {
  align-items: center;
  background: var(--color-background);
  border-radius: .25rem;
  color: var(--color-foreground);
  display: flex;
  flex-direction: row;
  height: 6rem;
  justify-content: center;
  &.primary { background: var(--color-primary); }
  
  .logo,
  .logomark {
    display: block;
    height: auto;
  }
}

.tile.logo {
  width: 16rem;
  .logo { width: 12rem; }
}

.tile.logomark {
  width: 6rem;
  .logomark { width: 4rem; }
}

.tiles.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}
