.tile.font {
  align-items: center;
  background: var(--color-background-dark);
  border-radius: .25rem;
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  gap: .875rem;
  height: 7rem;
  justify-content: center;
  width: 12rem;

  .caption {
    font-size: var(--font-size-small);
  }

  .sample {
    font-size: var(--font-size-xxx-large);
    line-height: 1;

    &.heebo {
      font-family: var(--font-family-heebo);
      margin: 0 0 -.3125rem;
    }
    
    &.playfair-display {
      font-family: var(--font-family-playfair-display);
    }
  }
}

.tiles.fonts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .75rem;
}
