.card {
  background: var(--color-background-light);
  border-radius: .5rem;
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: 1.5rem;
}

.card.primary {
  background: var(--color-primary);
  color: var(--color-foreground-light);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
