input[type='text'],
textarea,
input.text,
textarea.text {
  background: var(--color-background);
  border: 0;
  border-radius: .375rem;
  color: var(--color-foreground);
  font: inherit;
  padding: .5rem .75rem;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: .1875rem;
  width: 100%;
}
