@use '../base/breakpoints' as *;

.main {
  background: var(--color-background);
  color: var(--color-foreground);
  padding: 6rem 1.5rem 2rem;
  width: 100%;
}

@include respond-to(small) {
  .main {
    padding: 2rem 2rem 2rem 18rem;
  }
}
