.nav {
  background: var(--color-primary);
  color: var(--color-foreground-light);
  bottom: 0;
  height: 100vh;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 16rem;
}

.nav .logo {
  display: block;
  height: auto;
  margin: 0 auto .5rem;
  width: 10rem;
}
